@font-face {
	font-family: "rfont";
	src: url("/fonts/rfont.eot?41b6d176c233ab3f4fa38a286c0010d3?#iefix") format("embedded-opentype"),
url("/fonts/rfont.woff?41b6d176c233ab3f4fa38a286c0010d3") format("woff"),
url("/fonts/rfont.ttf?41b6d176c233ab3f4fa38a286c0010d3") format("truetype"),
url("/fonts/rfont.svg?41b6d176c233ab3f4fa38a286c0010d3#rfont") format("svg");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: rfont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-bar-chart:before {
	content: "\F101";
}
.icon-caron-circled:before {
	content: "\F102";
}
.icon-caron:before {
	content: "\F103";
}
.icon-check-circled:before {
	content: "\F104";
}
.icon-check:before {
	content: "\F105";
}
.icon-circle:before {
	content: "\F106";
}
.icon-circled-gold:before {
	content: "\F107";
}
.icon-clear:before {
	content: "\F108";
}
.icon-comment:before {
	content: "\F109";
}
.icon-comments-circled:before {
	content: "\F10A";
}
.icon-comments:before {
	content: "\F10B";
}
.icon-compact:before {
	content: "\F10C";
}
.icon-controversial:before {
	content: "\F10D";
}
.icon-crown-circled:before {
	content: "\F10E";
}
.icon-crown:before {
	content: "\F10F";
}
.icon-delete_remove:before {
	content: "\F110";
}
.icon-desktop:before {
	content: "\F111";
}
.icon-downvote-circled:before {
	content: "\F112";
}
.icon-downvote:before {
	content: "\F113";
}
.icon-eye:before {
	content: "\F114";
}
.icon-flag-circled:before {
	content: "\F115";
}
.icon-flag:before {
	content: "\F116";
}
.icon-follow:before {
	content: "\F117";
}
.icon-gallery_squares:before {
	content: "\F118";
}
.icon-gold:before {
	content: "\F119";
}
.icon-header_banned:before {
	content: "\F11A";
}
.icon-header_gold:before {
	content: "\F11B";
}
.icon-header_locked:before {
	content: "\F11C";
}
.icon-header_private:before {
	content: "\F11D";
}
.icon-header_quarantine:before {
	content: "\F11E";
}
.icon-header_user:before {
	content: "\F11F";
}
.icon-header-18plus:before {
	content: "\F120";
}
.icon-hide:before {
	content: "\F121";
}
.icon-history:before {
	content: "\F122";
}
.icon-hot:before {
	content: "\F123";
}
.icon-info-circled:before {
	content: "\F124";
}
.icon-info:before {
	content: "\F125";
}
.icon-karma-circled:before {
	content: "\F126";
}
.icon-karma:before {
	content: "\F127";
}
.icon-law-circled:before {
	content: "\F128";
}
.icon-law:before {
	content: "\F129";
}
.icon-link-circled:before {
	content: "\F12A";
}
.icon-link:before {
	content: "\F12B";
}
.icon-linkout:before {
	content: "\F12C";
}
.icon-lock:before {
	content: "\F12D";
}
.icon-menu:before {
	content: "\F12E";
}
.icon-message:before {
	content: "\F12F";
}
.icon-mod:before {
	content: "\F130";
}
.icon-nav-arrowback:before {
	content: "\F131";
}
.icon-nav-arrowback2:before {
	content: "\F132";
}
.icon-nav-arrowdown:before {
	content: "\F133";
}
.icon-nav-arrowforward:before {
	content: "\F134";
}
.icon-nav-arrowup:before {
	content: "\F135";
}
.icon-nav-close:before {
	content: "\F136";
}
.icon-new:before {
	content: "\F137";
}
.icon-nsfw:before {
	content: "\F138";
}
.icon-op:before {
	content: "\F139";
}
.icon-play_triangle:before {
	content: "\F13A";
}
.icon-play-circled:before {
	content: "\F13B";
}
.icon-play:before {
	content: "\F13C";
}
.icon-post_edit:before {
	content: "\F13D";
}
.icon-post-circled:before {
	content: "\F13E";
}
.icon-post:before {
	content: "\F13F";
}
.icon-r-circled:before {
	content: "\F140";
}
.icon-r:before {
	content: "\F141";
}
.icon-reply-circled:before {
	content: "\F142";
}
.icon-reply:before {
	content: "\F143";
}
.icon-reply2:before {
	content: "\F144";
}
.icon-rules:before {
	content: "\F145";
}
.icon-save-circled:before {
	content: "\F146";
}
.icon-save:before {
	content: "\F147";
}
.icon-search-circled:before {
	content: "\F148";
}
.icon-search:before {
	content: "\F149";
}
.icon-seashells-circled:before {
	content: "\F14A";
}
.icon-seashells:before {
	content: "\F14B";
}
.icon-settings-circled:before {
	content: "\F14C";
}
.icon-settings:before {
	content: "\F14D";
}
.icon-share-circled:before {
	content: "\F14E";
}
.icon-share:before {
	content: "\F14F";
}
.icon-snoo_logo_20:before {
	content: "\F150";
}
.icon-snoo-circled:before {
	content: "\F151";
}
.icon-snoo:before {
	content: "\F152";
}
.icon-snoosilhouette:before {
	content: "\F153";
}
.icon-spaceship:before {
	content: "\F154";
}
.icon-sticky:before {
	content: "\F155";
}
.icon-text-circled:before {
	content: "\F156";
}
.icon-text:before {
	content: "\F157";
}
.icon-twirly-circled:before {
	content: "\F158";
}
.icon-twirly:before {
	content: "\F159";
}
.icon-unsave-circled:before {
	content: "\F15A";
}
.icon-unsave:before {
	content: "\F15B";
}
.icon-upvote-circled:before {
	content: "\F15C";
}
.icon-upvote:before {
	content: "\F15D";
}
.icon-user-account:before {
	content: "\F15E";
}
.icon-x-circled:before {
	content: "\F15F";
}
.icon-x:before {
	content: "\F160";
}
.icon {
  font-size: 16px;
  line-height: 16px;
  vertical-align: middle;
}
.dayMode .icon {
  color: #CCCCCA;
}
.nightMode .icon {
  color: #545452;
}
.icon.blue {
  color: #24A0ED;
}
.icon.orangered {
  color: #FF4500;
}
.icon.darkgrey {
  color: #545452;
}
.icon.lime {
  color: #94E044;
}
.icon.white {
  color: white;
}
.icon.nsfw {
  color: #FF585B;
}
.icon.gold {
  color: #DDBD37;
}
.icon.warning-yellow {
  color: #FFD635;
}
.icon.mint {
  color: #0DD3BB;
}
.icon.mango {
  color: #FFB000;
}
.icon.black {
  color: #000;
}
.icon:before {
  vertical-align: inherit;
}
.dayMode button:hover .icon-foint,
.dayMode a:hover .icon-foint {
  color: #d9d9d7;
}
.nightMode button:hover .icon-foint,
.nightMode a:hover .icon-foint {
  color: #61615f;
}
button:hover .icon-foint.blue,
a:hover .icon-foint.blue {
  color: #1394e5;
}
button:hover .icon-foint.orangered,
a:hover .icon-foint.orangered {
  color: #f54200;
}
button:hover .icon-foint.lime,
a:hover .icon-foint.lime {
  color: #7bcf22;
}
button:hover .icon-foint.nsfw,
a:hover .icon-foint.nsfw {
  color: #ff4e51;
}
button:hover .icon-foint.gold,
a:hover .icon-foint.gold {
  color: #dbb92a;
}
button:hover .icon-foint.warning-yellow,
a:hover .icon-foint.warning-yellow {
  color: #ffd016;
}
button:hover .icon-foint.mint,
a:hover .icon-foint.mint {
  color: #0cbba6;
}
button:hover .icon-foint.mango,
a:hover .icon-foint.mango {
  color: #e69e00;
}
button:hover .icon-foint.black,
a:hover .icon-foint.black {
  color: #050505;
}
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.icon-gold,
.icon-gold:before {
  color: #FFD635;
}
.App {
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
}
body.dayMode {
  background-color: #FCFCFB;
  color: #222;
  fill: #222;
}
body.nightMode {
  background-color: #222;
  color: #cfd0ca;
  fill: #cfd0ca;
}
main {
  position: relative;
}
.footer {
  margin-top: 1em;
  padding-top: 1em;
}
.center-image {
  margin: auto;
}
.dayMode .PostAndCommentList {
  background-color: #EFEFED;
}
.nightMode .PostAndCommentList {
  background-color: #353535;
}
.Post {
  margin-bottom: 8px;
}
.dayMode .Post {
  background-color: #FFF;
}
.nightMode .Post {
  background-color: #141414;
}
.Post.size-compact {
  margin-bottom: 0px;
}
.Post__header-wrapper {
  position: relative;
}
.PostHeader.size-compact .PostHeader__post-title-line {
  font-size: 14px;
}
.PostHeader.size-compact .PostHeader__post-descriptor-line-overflow,
.PostHeader.size-compact .PostHeader__post-title-line {
  padding-bottom: 4px;
}
.PostHeader.size-compact .PostHeader__post-link {
  margin-bottom: 4px;
}
.PostContent.size-compact + .PostHeader.m-thumbnail-margin {
  margin-left: 86px;
  min-height: 86px;
}
.PostContent.size-compact + .PostHeader.m-thumbnail-margin .PostHeader__post-descriptor-line-overflow,
.PostContent.size-compact + .PostHeader.m-thumbnail-margin .PostHeader__post-title-line {
  padding-left: 0;
}
.PostContent.size-compact + .PostHeader.m-thumbnail-margin .PostHeader__post-title-line {
  padding-top: 0;
}
.PostContent.size-compact + .PostHeader.m-thumbnail-margin .PostHeader__post-link {
  margin-left: 0px;
}
.PostHeader__post-descriptor-line-overflow {
  padding: 8px 16px;
}
.PostHeader__post-title-line {
  padding: 0 16px 8px;
}
.PostHeader__post-link {
  margin-left: 16px;
}
.PostHeader__post-descriptor-line-overflow {
  overflow-x: auto;
  padding-right: 3em;
}
.PostHeader__post-descriptor-line {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  padding-right: 3em;
}
.dayMode .PostHeader__post-descriptor-line {
  color: #A5A4A4;
}
.nightMode .PostHeader__post-descriptor-line {
  color: #A5A4A4;
}
.PostHeader__post-descriptor-line .icon:before {
  vertical-align: text-bottom;
  font-size: 18px;
  line-height: 18px;
  margin-right: 2px;
}
.PostHeader__post-descriptor-line .icon:before + :not(.PostHeader__flush-w-icon) {
  margin-left: 6px;
}
.PostHeader__post-descriptor-line .icon:before.icon-nsfw {
  font-size: 12px;
  line-height: 14px;
}
.PostHeader__post-descriptor-line:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 3em;
  z-index: 1;
}
.dayMode .PostHeader__post-descriptor-line:after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 70%);
}
.nightMode .PostHeader__post-descriptor-line:after {
  background: linear-gradient(to right, rgba(20, 20, 20, 0) 0%, #141414 70%);
}
.PostHeader__subreddit-link,
.PostHeader__subreddit-link:visited,
.PostHeader__subreddit-link:hover {
  text-decoration: none;
}
.dayMode .PostHeader__subreddit-link,
.dayMode .PostHeader__subreddit-link:visited,
.dayMode .PostHeader__subreddit-link:hover {
  color: #0079D3;
}
.nightMode .PostHeader__subreddit-link,
.nightMode .PostHeader__subreddit-link:visited,
.nightMode .PostHeader__subreddit-link:hover {
  color: #24A0ED;
}
.dayMode .PostHeader__author-link,
.dayMode .PostHeader__author-link:visited {
  color: #A5A4A4;
}
.nightMode .PostHeader__author-link,
.nightMode .PostHeader__author-link:visited {
  color: #A5A4A4;
}
.PostHeader__author-link:hover {
  text-decoration: none;
}
.dayMode .PostHeader__author-link:hover {
  color: #545452;
}
.nightMode .PostHeader__author-link:hover {
  color: #EFEFED;
}
.PostHeader__link-flair {
  display: inline-block;
  color: #0DD3BB;
}
.PostHeader__sponsored-flair {
  color: #24A0ED;
}
.PostHeader__mod-text,
.PostHeader__mod-text a,
.PostHeader__mod-text a:visited,
.PostHeader__mod-text a:hover {
  color: #94E044 !important;
  text-decoration: none;
}
.PostHeader__admin-text,
.PostHeader__admin-text a,
.PostHeader__admin-text a:visited,
.PostHeader__admin-text a:hover {
  color: #FF4500 !important;
  text-decoration: none;
}
.PostHeader__nsfw-text,
.PostHeader__nsfw-text a,
.PostHeader__nsfw-text a:visited,
.PostHeader__nsfw-text a:hover {
  font-size: 11px;
  color: #FF585B !important;
  text-decoration: none;
}
.PostHeader__post-title-line {
  font-size: 16px;
  display: block;
  overflow-x: hidden;
}
.dayMode .PostHeader__post-title-line {
  color: #222;
}
.dayMode .PostHeader__post-title-line.m-visited,
.dayMode .PostHeader__post-title-line:visited {
  color: #A5A4A4;
}
.dayMode .PostHeader__post-title-line:hover {
  color: #0079D3;
}
.nightMode .PostHeader__post-title-line {
  color: #cfd0ca;
}
.nightMode .PostHeader__post-title-line.m-visited,
.nightMode .PostHeader__post-title-line:visited {
  color: #A5A4A4;
}
.nightMode .PostHeader__post-title-line:hover {
  color: #24A0ED;
}
.PostHeader__post-title-line:hover {
  text-decoration: none;
}
.PostHeader__seperator:after {
  content: '\25CF';
  margin: 0 4px;
  font-size: 0.6em;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  top: -1px;
}
.dayMode .PostHeader__seperator:after {
  color: #CCCCCA;
}
.nightMode .PostHeader__seperator:after {
  color: #545452;
}
.PostHeader__post-link {
  display: inline-block;
}
.PostHeader__post-link,
.PostHeader__post-link:visited {
  color: #A5A4A4;
}
.PostHeader__post-link:hover {
  color: #545452;
}
.PostHeader__post-link-icon {
  position: relative;
  bottom: 1px;
}
.PostHeader__post-link-icon:hover {
  text-decoration: none;
}
.PostHeader__post-link-icon:before {
  margin-left: 4px;
  font-size: 13px;
}
[class^="aspect-ratio-"]:before,
[class*=" aspect-ratio-"]:before {
  content: "";
  display: block;
}
.aspect-ratio-1x3:before {
  padding-top: 300%;
}
.aspect-ratio-10x27:before {
  padding-top: 270%;
}
.aspect-ratio-11x27:before {
  padding-top: 245.45454545%;
}
.aspect-ratio-4x9:before {
  padding-top: 225%;
}
.aspect-ratio-13x27:before {
  padding-top: 207.69230769%;
}
.aspect-ratio-14x27:before {
  padding-top: 192.85714286%;
}
.aspect-ratio-5x9:before {
  padding-top: 180%;
}
.aspect-ratio-16x27:before {
  padding-top: 168.75%;
}
.aspect-ratio-17x27:before {
  padding-top: 158.82352941%;
}
.aspect-ratio-2x3:before {
  padding-top: 150%;
}
.aspect-ratio-19x27:before {
  padding-top: 142.10526316%;
}
.aspect-ratio-20x27:before {
  padding-top: 135%;
}
.aspect-ratio-7x9:before {
  padding-top: 128.57142857%;
}
.aspect-ratio-22x27:before {
  padding-top: 122.72727273%;
}
.aspect-ratio-23x27:before {
  padding-top: 117.39130435%;
}
.aspect-ratio-8x9:before {
  padding-top: 112.5%;
}
.aspect-ratio-25x27:before {
  padding-top: 108%;
}
.aspect-ratio-26x27:before {
  padding-top: 103.84615385%;
}
.aspect-ratio-1x1:before {
  padding-top: 100%;
}
.aspect-ratio-28x27:before {
  padding-top: 96.42857143%;
}
.aspect-ratio-29x27:before {
  padding-top: 93.10344828%;
}
.aspect-ratio-10x9:before {
  padding-top: 90%;
}
.aspect-ratio-31x27:before {
  padding-top: 87.09677419%;
}
.aspect-ratio-32x27:before {
  padding-top: 84.375%;
}
.aspect-ratio-11x9:before {
  padding-top: 81.81818182%;
}
.aspect-ratio-34x27:before {
  padding-top: 79.41176471%;
}
.aspect-ratio-35x27:before {
  padding-top: 77.14285714%;
}
.aspect-ratio-4x3:before {
  padding-top: 75%;
}
.aspect-ratio-37x27:before {
  padding-top: 72.97297297%;
}
.aspect-ratio-38x27:before {
  padding-top: 71.05263158%;
}
.aspect-ratio-13x9:before {
  padding-top: 69.23076923%;
}
.aspect-ratio-40x27:before {
  padding-top: 67.5%;
}
.aspect-ratio-41x27:before {
  padding-top: 65.85365854%;
}
.aspect-ratio-14x9:before {
  padding-top: 64.28571429%;
}
.aspect-ratio-43x27:before {
  padding-top: 62.79069767%;
}
.aspect-ratio-44x27:before {
  padding-top: 61.36363636%;
}
.aspect-ratio-5x3:before {
  padding-top: 60%;
}
.aspect-ratio-46x27:before {
  padding-top: 58.69565217%;
}
.aspect-ratio-47x27:before {
  padding-top: 57.44680851%;
}
.aspect-ratio-16x9:before {
  padding-top: 56.25%;
}
.aspect-ratio-49x27:before {
  padding-top: 55.10204082%;
}
.aspect-ratio-50x27:before {
  padding-top: 54%;
}
.aspect-ratio-17x9:before {
  padding-top: 52.94117647%;
}
.aspect-ratio-52x27:before {
  padding-top: 51.92307692%;
}
.aspect-ratio-53x27:before {
  padding-top: 50.94339623%;
}
.aspect-ratio-2x1:before {
  padding-top: 50%;
}
.aspect-ratio-55x27:before {
  padding-top: 49.09090909%;
}
.aspect-ratio-56x27:before {
  padding-top: 48.21428571%;
}
.aspect-ratio-19x9:before {
  padding-top: 47.36842105%;
}
.aspect-ratio-58x27:before {
  padding-top: 46.55172414%;
}
.aspect-ratio-59x27:before {
  padding-top: 45.76271186%;
}
.aspect-ratio-20x9:before {
  padding-top: 45%;
}
.aspect-ratio-61x27:before {
  padding-top: 44.26229508%;
}
.aspect-ratio-62x27:before {
  padding-top: 43.5483871%;
}
.aspect-ratio-7x3:before {
  padding-top: 42.85714286%;
}
.aspect-ratio-64x27:before {
  padding-top: 42.1875%;
}
.aspect-ratio-65x27:before {
  padding-top: 41.53846154%;
}
.aspect-ratio-22x9:before {
  padding-top: 40.90909091%;
}
.aspect-ratio-67x27:before {
  padding-top: 40.29850746%;
}
.aspect-ratio-68x27:before {
  padding-top: 39.70588235%;
}
.aspect-ratio-23x9:before {
  padding-top: 39.13043478%;
}
.aspect-ratio-70x27:before {
  padding-top: 38.57142857%;
}
.aspect-ratio-71x27:before {
  padding-top: 38.02816901%;
}
.aspect-ratio-8x3:before {
  padding-top: 37.5%;
}
.aspect-ratio-73x27:before {
  padding-top: 36.98630137%;
}
.aspect-ratio-74x27:before {
  padding-top: 36.48648649%;
}
.aspect-ratio-25x9:before {
  padding-top: 36%;
}
.aspect-ratio-76x27:before {
  padding-top: 35.52631579%;
}
.aspect-ratio-77x27:before {
  padding-top: 35.06493506%;
}
.aspect-ratio-26x9:before {
  padding-top: 34.61538462%;
}
.aspect-ratio-79x27:before {
  padding-top: 34.17721519%;
}
.aspect-ratio-80x27:before {
  padding-top: 33.75%;
}
.aspect-ratio-3x1:before {
  padding-top: 33.33333333%;
}
.PostContent table {
  margin: 1em 0;
  width: 100%;
}
.PostContent td,
.PostContent th {
  padding: .25em;
  border-bottom: solid 1px #CCCCCA;
}
.PostContent.size-compact {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 8px;
  left: 8px;
}
.PostContent.size-compact .PostContent__image-link {
  height: 70px;
  width: 70px;
}
.PostContent.size-default {
  margin: 4px 0;
}
.PostContent__media-wrapper {
  margin: 0 8px;
}
.dayMode .PostContent__media-wrapper {
  border: 1px solid #EFEFED;
}
.nightMode .PostContent__media-wrapper {
  border: 1px solid #353535;
}
.PostContent__link-bar {
  display: block;
  padding: 8px;
  overflow-x: hidden;
  white-space: nowrap;
}
.PostContent__link-bar:before,
.PostContent__link-bar:after {
  content: " ";
  display: table;
}
.PostContent__link-bar:after {
  clear: both;
}
.PostContent__link-bar:before,
.PostContent__link-bar:after {
  content: " ";
  display: table;
}
.PostContent__link-bar:after {
  clear: both;
}
.dayMode .PostContent__link-bar {
  background-color: #FCFCFB;
}
.dayMode .PostContent__link-bar,
.dayMode .PostContent__link-bar:visited {
  color: #0079D3;
}
.dayMode .PostContent__link-bar:hover {
  color: #0795ff;
}
.nightMode .PostContent__link-bar {
  background-color: #222;
}
.nightMode .PostContent__link-bar,
.nightMode .PostContent__link-bar:visited {
  color: #24A0ED;
}
.nightMode .PostContent__link-bar:hover {
  color: #53b4f1;
}
.PostContent__link-bar-text {
  display: inline-block;
  width: calc(100% - 3em);
  overflow: hidden;
  text-overflow: ellipsis;
}
.PostContent__link-bar-icon {
  float: right;
  position: relative;
  top: 2px;
}
.PostContent__link-bar-icon:before {
  font-size: 14px;
  line-height: 14px;
}
.PostContent__video-wrapper,
.PostContent__iframe-wrapper,
.PostContent__image-link {
  position: relative;
}
.PostContent__inline-gif,
.PostContent__image-img,
.PostContent__video,
.PostContent__iframe {
  width: 100%;
}
.PostContent__video,
.PostContent__height,
.PostContent__iframe {
  height: 100%;
}
.PostContent__inline-gif,
.PostContent__video,
.PostContent__iframe {
  position: absolute;
  top: 0;
}
.dayMode .PostContent__image-link,
.dayMode .PostContent__video-wrapper {
  background-color: #FFF;
}
.nightMode .PostContent__image-link,
.nightMode .PostContent__video-wrapper {
  background-color: #141414;
}
.PostContent__image-link {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
.PostContent__image-link.placeholder {
  background-size: 100% auto;
  background-image: url('/img/placeholder.svg');
}
.PostContent__iframe-wrapper {
  /* fix ios8, ios5 iframe scrolling */
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  -webkit-transform: translateZ(0px);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
}
.PostContent__html {
  position: relative;
}
.PostContent__html iframe,
.PostContent__html object {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.PostContent__nsfw-warning {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  top: 0;
  width: 100%;
}
.PostContent__nsfw-warning-text,
.PostContent__nsfw-warning-button {
  color: #FFF;
  font-size: 18px;
  max-width: 300px;
  text-align: center;
  margin: 5px 0;
}
.PostContent__nsfw-warning-button {
  line-height: 0;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #FFF;
  padding: 20px;
}
.PostContent__playback-action-circle {
  opacity: 0.6;
  background-color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
}
.PostContent__playback-action-circle:hover {
  opacity: 0.8;
  background-color: #FCFCFB;
}
.PostContent__playback-action-circle.regular {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  margin-top: -24px;
  margin-left: -24px;
}
.PostContent__playback-action-circle.regular [class^="icon-"] {
  font-size: 24px;
  line-height: 48px;
}
.PostContent__playback-action-circle.regular [class*=" icon-"] {
  font-size: 24px;
  line-height: 48px;
}
.PostContent__playback-action-circle.compact {
  width: 28px;
  height: 28px;
  border-radius: 14px;
  margin-top: -14px;
  margin-left: -14px;
}
.PostContent__playback-action-circle.compact [class^="icon-"] {
  font-size: 14px;
  line-height: 28px;
}
.PostContent__playback-action-circle.compact [class*=" icon-"] {
  font-size: 14px;
  line-height: 28px;
}
.PostContent__playback-action-icon.icon-play_triangle {
  margin-left: 0.3em;
}
.PostContent__selftext {
  padding: 8px 16px;
}
.PostContent__textarea-holder {
  height: 300px;
  overflow: auto;
}
.PostContent__textarea {
  resize: none;
}
.PostContent__textarea.form-control {
  height: 100%;
}
.PostContent__edit-controls {
  padding: 8px;
  text-align: center;
}
.PostContent__edit-button {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 88px;
  margin: 0 16px;
}
.PostFooter {
  padding: 8px 16px;
}
.PostFooter:before,
.PostFooter:after {
  content: " ";
  display: table;
}
.PostFooter:after {
  clear: both;
}
.dayMode .PostFooter {
  border-bottom: 1px solid #EFEFED;
}
.nightMode .PostFooter {
  border-bottom: 1px solid #353535;
}
.PostFooter.size-compact {
  padding-top: 0px;
}
.PostFooter__comments-link {
  margin-left: -2px;
}
.PostFooter__comments-link,
.PostFooter__comments-link:visited,
.PostFooter__comments-link:hover {
  text-decoration: none;
}
.dayMode .PostFooter__comments-link,
.dayMode .PostFooter__comments-link:visited,
.dayMode .PostFooter__comments-link:hover {
  color: #A5A4A4;
}
.nightMode .PostFooter__comments-link,
.nightMode .PostFooter__comments-link:visited,
.nightMode .PostFooter__comments-link:hover {
  color: #A5A4A4;
}
.PostFooter__hit-area {
  line-height: 24px;
  min-height: 24px;
  min-width: 24px;
  display: inline-block;
  vertical-align: middle;
}
.PostFooter__comments-icon.icon-comment {
  margin: 0 4px;
  position: relative;
  top: -3px;
}
.PostFooter__comments-icon.icon-comment:before {
  font-size: 18px;
  line-height: 18px;
}
.PostFooter__vote-and-tools-wrapper {
  float: right;
  position: relative;
  top: 2px;
}
.PostFooter__vote-text {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}
.dayMode .PostFooter__vote-text {
  color: #0079D3;
}
.dayMode .PostFooter__vote-text.upvoted {
  color: #FF4500;
}
.dayMode .PostFooter__vote-text.downvoted {
  color: #7193FF;
}
.nightMode .PostFooter__vote-text {
  color: #24A0ED;
}
.nightMode .PostFooter__vote-text.upvoted {
  color: #FF4500;
}
.nightMode .PostFooter__vote-text.downvoted {
  color: #7193FF;
}
.PostFooter__dropdown-button.icon-seashells {
  text-align: center;
  position: relative;
  top: 3px;
}
.PostFooter__dropdown-button.icon-seashells:before {
  font-size: 18px;
  line-height: 18px;
}
.PostFooter__vertical-divider {
  height: 2em;
  margin: 0 8px;
  vertical-align: middle;
}
.dayMode .PostFooter__vertical-divider {
  border-right: 1px solid #CCCCCA;
}
.nightMode .PostFooter__vertical-divider {
  border-right: 1px solid #545452;
}
.PostFooter__vote-arrow-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin: 0 4px;
  text-align: center;
}
.dayMode .PostFooter__vote-arrow-wrapper {
  border: 1px solid #EFEFED;
}
.nightMode .PostFooter__vote-arrow-wrapper {
  border: 1px solid #353535;
}
.PostFooter__vote-arrow-wrapper.upvoted {
  border-color: #FF4500;
  background-color: #FF4500;
}
.PostFooter__vote-arrow-wrapper.upvoted .icon-upvote:before {
  color: #FFF;
}
.PostFooter__vote-arrow-wrapper.upvoted.m-animated {
  -webkit-animation: bounceUp 0.4s 1 ease-out;
  animation: bounceUp 0.4s 1 ease-out;
}
.PostFooter__vote-arrow-wrapper.downvoted {
  border-color: #7193FF;
  background-color: #7193FF;
}
.PostFooter__vote-arrow-wrapper.downvoted .icon-downvote:before {
  color: #FFF;
}
.PostFooter__vote-arrow-wrapper.downvoted.m-animated {
  -webkit-animation: bounceDown 0.4s 1 ease-out;
  animation: bounceDown 0.4s 1 ease-out;
}
.PostFooter__vote-arrow-wrapper [class^="icon-"] {
  font-size: 22px;
  line-height: 1em;
}
