@font-face {
	font-family: "rfont";
	src: url("/fonts/rfont.eot?41b6d176c233ab3f4fa38a286c0010d3?#iefix") format("embedded-opentype"),
url("/fonts/rfont.woff?41b6d176c233ab3f4fa38a286c0010d3") format("woff"),
url("/fonts/rfont.ttf?41b6d176c233ab3f4fa38a286c0010d3") format("truetype"),
url("/fonts/rfont.svg?41b6d176c233ab3f4fa38a286c0010d3#rfont") format("svg");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: rfont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-bar-chart:before {
	content: "\F101";
}
.icon-caron-circled:before {
	content: "\F102";
}
.icon-caron:before {
	content: "\F103";
}
.icon-check-circled:before {
	content: "\F104";
}
.icon-check:before {
	content: "\F105";
}
.icon-circle:before {
	content: "\F106";
}
.icon-circled-gold:before {
	content: "\F107";
}
.icon-clear:before {
	content: "\F108";
}
.icon-comment:before {
	content: "\F109";
}
.icon-comments-circled:before {
	content: "\F10A";
}
.icon-comments:before {
	content: "\F10B";
}
.icon-compact:before {
	content: "\F10C";
}
.icon-controversial:before {
	content: "\F10D";
}
.icon-crown-circled:before {
	content: "\F10E";
}
.icon-crown:before {
	content: "\F10F";
}
.icon-delete_remove:before {
	content: "\F110";
}
.icon-desktop:before {
	content: "\F111";
}
.icon-downvote-circled:before {
	content: "\F112";
}
.icon-downvote:before {
	content: "\F113";
}
.icon-eye:before {
	content: "\F114";
}
.icon-flag-circled:before {
	content: "\F115";
}
.icon-flag:before {
	content: "\F116";
}
.icon-follow:before {
	content: "\F117";
}
.icon-gallery_squares:before {
	content: "\F118";
}
.icon-gold:before {
	content: "\F119";
}
.icon-header_banned:before {
	content: "\F11A";
}
.icon-header_gold:before {
	content: "\F11B";
}
.icon-header_locked:before {
	content: "\F11C";
}
.icon-header_private:before {
	content: "\F11D";
}
.icon-header_quarantine:before {
	content: "\F11E";
}
.icon-header_user:before {
	content: "\F11F";
}
.icon-header-18plus:before {
	content: "\F120";
}
.icon-hide:before {
	content: "\F121";
}
.icon-history:before {
	content: "\F122";
}
.icon-hot:before {
	content: "\F123";
}
.icon-info-circled:before {
	content: "\F124";
}
.icon-info:before {
	content: "\F125";
}
.icon-karma-circled:before {
	content: "\F126";
}
.icon-karma:before {
	content: "\F127";
}
.icon-law-circled:before {
	content: "\F128";
}
.icon-law:before {
	content: "\F129";
}
.icon-link-circled:before {
	content: "\F12A";
}
.icon-link:before {
	content: "\F12B";
}
.icon-linkout:before {
	content: "\F12C";
}
.icon-lock:before {
	content: "\F12D";
}
.icon-menu:before {
	content: "\F12E";
}
.icon-message:before {
	content: "\F12F";
}
.icon-mod:before {
	content: "\F130";
}
.icon-nav-arrowback:before {
	content: "\F131";
}
.icon-nav-arrowback2:before {
	content: "\F132";
}
.icon-nav-arrowdown:before {
	content: "\F133";
}
.icon-nav-arrowforward:before {
	content: "\F134";
}
.icon-nav-arrowup:before {
	content: "\F135";
}
.icon-nav-close:before {
	content: "\F136";
}
.icon-new:before {
	content: "\F137";
}
.icon-nsfw:before {
	content: "\F138";
}
.icon-op:before {
	content: "\F139";
}
.icon-play_triangle:before {
	content: "\F13A";
}
.icon-play-circled:before {
	content: "\F13B";
}
.icon-play:before {
	content: "\F13C";
}
.icon-post_edit:before {
	content: "\F13D";
}
.icon-post-circled:before {
	content: "\F13E";
}
.icon-post:before {
	content: "\F13F";
}
.icon-r-circled:before {
	content: "\F140";
}
.icon-r:before {
	content: "\F141";
}
.icon-reply-circled:before {
	content: "\F142";
}
.icon-reply:before {
	content: "\F143";
}
.icon-reply2:before {
	content: "\F144";
}
.icon-rules:before {
	content: "\F145";
}
.icon-save-circled:before {
	content: "\F146";
}
.icon-save:before {
	content: "\F147";
}
.icon-search-circled:before {
	content: "\F148";
}
.icon-search:before {
	content: "\F149";
}
.icon-seashells-circled:before {
	content: "\F14A";
}
.icon-seashells:before {
	content: "\F14B";
}
.icon-settings-circled:before {
	content: "\F14C";
}
.icon-settings:before {
	content: "\F14D";
}
.icon-share-circled:before {
	content: "\F14E";
}
.icon-share:before {
	content: "\F14F";
}
.icon-snoo_logo_20:before {
	content: "\F150";
}
.icon-snoo-circled:before {
	content: "\F151";
}
.icon-snoo:before {
	content: "\F152";
}
.icon-snoosilhouette:before {
	content: "\F153";
}
.icon-spaceship:before {
	content: "\F154";
}
.icon-sticky:before {
	content: "\F155";
}
.icon-text-circled:before {
	content: "\F156";
}
.icon-text:before {
	content: "\F157";
}
.icon-twirly-circled:before {
	content: "\F158";
}
.icon-twirly:before {
	content: "\F159";
}
.icon-unsave-circled:before {
	content: "\F15A";
}
.icon-unsave:before {
	content: "\F15B";
}
.icon-upvote-circled:before {
	content: "\F15C";
}
.icon-upvote:before {
	content: "\F15D";
}
.icon-user-account:before {
	content: "\F15E";
}
.icon-x-circled:before {
	content: "\F15F";
}
.icon-x:before {
	content: "\F160";
}
.icon {
  font-size: 16px;
  line-height: 16px;
  vertical-align: middle;
}
.dayMode .icon {
  color: #CCCCCA;
}
.nightMode .icon {
  color: #545452;
}
.icon.blue {
  color: #24A0ED;
}
.icon.orangered {
  color: #FF4500;
}
.icon.darkgrey {
  color: #545452;
}
.icon.lime {
  color: #94E044;
}
.icon.white {
  color: white;
}
.icon.nsfw {
  color: #FF585B;
}
.icon.gold {
  color: #DDBD37;
}
.icon.warning-yellow {
  color: #FFD635;
}
.icon.mint {
  color: #0DD3BB;
}
.icon.mango {
  color: #FFB000;
}
.icon.black {
  color: #000;
}
.icon:before {
  vertical-align: inherit;
}
.dayMode button:hover .icon-foint,
.dayMode a:hover .icon-foint {
  color: #d9d9d7;
}
.nightMode button:hover .icon-foint,
.nightMode a:hover .icon-foint {
  color: #61615f;
}
button:hover .icon-foint.blue,
a:hover .icon-foint.blue {
  color: #1394e5;
}
button:hover .icon-foint.orangered,
a:hover .icon-foint.orangered {
  color: #f54200;
}
button:hover .icon-foint.lime,
a:hover .icon-foint.lime {
  color: #7bcf22;
}
button:hover .icon-foint.nsfw,
a:hover .icon-foint.nsfw {
  color: #ff4e51;
}
button:hover .icon-foint.gold,
a:hover .icon-foint.gold {
  color: #dbb92a;
}
button:hover .icon-foint.warning-yellow,
a:hover .icon-foint.warning-yellow {
  color: #ffd016;
}
button:hover .icon-foint.mint,
a:hover .icon-foint.mint {
  color: #0cbba6;
}
button:hover .icon-foint.mango,
a:hover .icon-foint.mango {
  color: #e69e00;
}
button:hover .icon-foint.black,
a:hover .icon-foint.black {
  color: #050505;
}
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.icon-gold,
.icon-gold:before {
  color: #FFD635;
}
.App {
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
}
.Post {
  margin-bottom: 8px;
}
.dayMode .Post {
  background-color: #FFF;
}
.nightMode .Post {
  background-color: #141414;
}
.Post.size-compact {
  margin-bottom: 0px;
}
.Post__header-wrapper {
  position: relative;
}
.PostHeader.size-compact .PostHeader__post-title-line {
  font-size: 14px;
}
.PostHeader.size-compact .PostHeader__post-descriptor-line-overflow,
.PostHeader.size-compact .PostHeader__post-title-line {
  padding-bottom: 4px;
}
.PostHeader.size-compact .PostHeader__post-link {
  margin-bottom: 4px;
}
.PostContent.size-compact + .PostHeader.m-thumbnail-margin {
  margin-left: 86px;
  min-height: 86px;
}
.PostContent.size-compact + .PostHeader.m-thumbnail-margin .PostHeader__post-descriptor-line-overflow,
.PostContent.size-compact + .PostHeader.m-thumbnail-margin .PostHeader__post-title-line {
  padding-left: 0;
}
.PostContent.size-compact + .PostHeader.m-thumbnail-margin .PostHeader__post-title-line {
  padding-top: 0;
}
.PostContent.size-compact + .PostHeader.m-thumbnail-margin .PostHeader__post-link {
  margin-left: 0px;
}
.PostHeader__post-descriptor-line-overflow {
  padding: 8px 16px;
}
.PostHeader__post-title-line {
  padding: 0 16px 8px;
}
.PostHeader__post-link {
  margin-left: 16px;
}
.PostHeader__post-descriptor-line-overflow {
  overflow-x: auto;
  padding-right: 3em;
}
.PostHeader__post-descriptor-line {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  padding-right: 3em;
}
.dayMode .PostHeader__post-descriptor-line {
  color: #A5A4A4;
}
.nightMode .PostHeader__post-descriptor-line {
  color: #A5A4A4;
}
.PostHeader__post-descriptor-line .icon:before {
  vertical-align: text-bottom;
  font-size: 18px;
  line-height: 18px;
  margin-right: 2px;
}
.PostHeader__post-descriptor-line .icon:before + :not(.PostHeader__flush-w-icon) {
  margin-left: 6px;
}
.PostHeader__post-descriptor-line .icon:before.icon-nsfw {
  font-size: 12px;
  line-height: 14px;
}
.PostHeader__post-descriptor-line:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 3em;
  z-index: 1;
}
.dayMode .PostHeader__post-descriptor-line:after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 70%);
}
.nightMode .PostHeader__post-descriptor-line:after {
  background: linear-gradient(to right, rgba(20, 20, 20, 0) 0%, #141414 70%);
}
.PostHeader__subreddit-link,
.PostHeader__subreddit-link:visited,
.PostHeader__subreddit-link:hover {
  text-decoration: none;
}
.dayMode .PostHeader__subreddit-link,
.dayMode .PostHeader__subreddit-link:visited,
.dayMode .PostHeader__subreddit-link:hover {
  color: #0079D3;
}
.nightMode .PostHeader__subreddit-link,
.nightMode .PostHeader__subreddit-link:visited,
.nightMode .PostHeader__subreddit-link:hover {
  color: #24A0ED;
}
.dayMode .PostHeader__author-link,
.dayMode .PostHeader__author-link:visited {
  color: #A5A4A4;
}
.nightMode .PostHeader__author-link,
.nightMode .PostHeader__author-link:visited {
  color: #A5A4A4;
}
.PostHeader__author-link:hover {
  text-decoration: none;
}
.dayMode .PostHeader__author-link:hover {
  color: #545452;
}
.nightMode .PostHeader__author-link:hover {
  color: #EFEFED;
}
.PostHeader__link-flair {
  display: inline-block;
  color: #0DD3BB;
}
.PostHeader__sponsored-flair {
  color: #24A0ED;
}
.PostHeader__mod-text,
.PostHeader__mod-text a,
.PostHeader__mod-text a:visited,
.PostHeader__mod-text a:hover {
  color: #94E044 !important;
  text-decoration: none;
}
.PostHeader__admin-text,
.PostHeader__admin-text a,
.PostHeader__admin-text a:visited,
.PostHeader__admin-text a:hover {
  color: #FF4500 !important;
  text-decoration: none;
}
.PostHeader__nsfw-text,
.PostHeader__nsfw-text a,
.PostHeader__nsfw-text a:visited,
.PostHeader__nsfw-text a:hover {
  font-size: 11px;
  color: #FF585B !important;
  text-decoration: none;
}
.PostHeader__post-title-line {
  font-size: 16px;
  display: block;
  overflow-x: hidden;
}
.dayMode .PostHeader__post-title-line {
  color: #222;
}
.dayMode .PostHeader__post-title-line.m-visited,
.dayMode .PostHeader__post-title-line:visited {
  color: #A5A4A4;
}
.dayMode .PostHeader__post-title-line:hover {
  color: #0079D3;
}
.nightMode .PostHeader__post-title-line {
  color: #cfd0ca;
}
.nightMode .PostHeader__post-title-line.m-visited,
.nightMode .PostHeader__post-title-line:visited {
  color: #A5A4A4;
}
.nightMode .PostHeader__post-title-line:hover {
  color: #24A0ED;
}
.PostHeader__post-title-line:hover {
  text-decoration: none;
}
.PostHeader__seperator:after {
  content: '\25CF';
  margin: 0 4px;
  font-size: 0.6em;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  top: -1px;
}
.dayMode .PostHeader__seperator:after {
  color: #CCCCCA;
}
.nightMode .PostHeader__seperator:after {
  color: #545452;
}
.PostHeader__post-link {
  display: inline-block;
}
.PostHeader__post-link,
.PostHeader__post-link:visited {
  color: #A5A4A4;
}
.PostHeader__post-link:hover {
  color: #545452;
}
.PostHeader__post-link-icon {
  position: relative;
  bottom: 1px;
}
.PostHeader__post-link-icon:hover {
  text-decoration: none;
}
.PostHeader__post-link-icon:before {
  margin-left: 4px;
  font-size: 13px;
}
