@font-face {
	font-family: "rfont";
	src: url("/fonts/rfont.eot?41b6d176c233ab3f4fa38a286c0010d3?#iefix") format("embedded-opentype"),
url("/fonts/rfont.woff?41b6d176c233ab3f4fa38a286c0010d3") format("woff"),
url("/fonts/rfont.ttf?41b6d176c233ab3f4fa38a286c0010d3") format("truetype"),
url("/fonts/rfont.svg?41b6d176c233ab3f4fa38a286c0010d3#rfont") format("svg");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: rfont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-bar-chart:before {
	content: "\F101";
}
.icon-caron-circled:before {
	content: "\F102";
}
.icon-caron:before {
	content: "\F103";
}
.icon-check-circled:before {
	content: "\F104";
}
.icon-check:before {
	content: "\F105";
}
.icon-circle:before {
	content: "\F106";
}
.icon-circled-gold:before {
	content: "\F107";
}
.icon-clear:before {
	content: "\F108";
}
.icon-comment:before {
	content: "\F109";
}
.icon-comments-circled:before {
	content: "\F10A";
}
.icon-comments:before {
	content: "\F10B";
}
.icon-compact:before {
	content: "\F10C";
}
.icon-controversial:before {
	content: "\F10D";
}
.icon-crown-circled:before {
	content: "\F10E";
}
.icon-crown:before {
	content: "\F10F";
}
.icon-delete_remove:before {
	content: "\F110";
}
.icon-desktop:before {
	content: "\F111";
}
.icon-downvote-circled:before {
	content: "\F112";
}
.icon-downvote:before {
	content: "\F113";
}
.icon-eye:before {
	content: "\F114";
}
.icon-flag-circled:before {
	content: "\F115";
}
.icon-flag:before {
	content: "\F116";
}
.icon-follow:before {
	content: "\F117";
}
.icon-gallery_squares:before {
	content: "\F118";
}
.icon-gold:before {
	content: "\F119";
}
.icon-header_banned:before {
	content: "\F11A";
}
.icon-header_gold:before {
	content: "\F11B";
}
.icon-header_locked:before {
	content: "\F11C";
}
.icon-header_private:before {
	content: "\F11D";
}
.icon-header_quarantine:before {
	content: "\F11E";
}
.icon-header_user:before {
	content: "\F11F";
}
.icon-header-18plus:before {
	content: "\F120";
}
.icon-hide:before {
	content: "\F121";
}
.icon-history:before {
	content: "\F122";
}
.icon-hot:before {
	content: "\F123";
}
.icon-info-circled:before {
	content: "\F124";
}
.icon-info:before {
	content: "\F125";
}
.icon-karma-circled:before {
	content: "\F126";
}
.icon-karma:before {
	content: "\F127";
}
.icon-law-circled:before {
	content: "\F128";
}
.icon-law:before {
	content: "\F129";
}
.icon-link-circled:before {
	content: "\F12A";
}
.icon-link:before {
	content: "\F12B";
}
.icon-linkout:before {
	content: "\F12C";
}
.icon-lock:before {
	content: "\F12D";
}
.icon-menu:before {
	content: "\F12E";
}
.icon-message:before {
	content: "\F12F";
}
.icon-mod:before {
	content: "\F130";
}
.icon-nav-arrowback:before {
	content: "\F131";
}
.icon-nav-arrowback2:before {
	content: "\F132";
}
.icon-nav-arrowdown:before {
	content: "\F133";
}
.icon-nav-arrowforward:before {
	content: "\F134";
}
.icon-nav-arrowup:before {
	content: "\F135";
}
.icon-nav-close:before {
	content: "\F136";
}
.icon-new:before {
	content: "\F137";
}
.icon-nsfw:before {
	content: "\F138";
}
.icon-op:before {
	content: "\F139";
}
.icon-play_triangle:before {
	content: "\F13A";
}
.icon-play-circled:before {
	content: "\F13B";
}
.icon-play:before {
	content: "\F13C";
}
.icon-post_edit:before {
	content: "\F13D";
}
.icon-post-circled:before {
	content: "\F13E";
}
.icon-post:before {
	content: "\F13F";
}
.icon-r-circled:before {
	content: "\F140";
}
.icon-r:before {
	content: "\F141";
}
.icon-reply-circled:before {
	content: "\F142";
}
.icon-reply:before {
	content: "\F143";
}
.icon-reply2:before {
	content: "\F144";
}
.icon-rules:before {
	content: "\F145";
}
.icon-save-circled:before {
	content: "\F146";
}
.icon-save:before {
	content: "\F147";
}
.icon-search-circled:before {
	content: "\F148";
}
.icon-search:before {
	content: "\F149";
}
.icon-seashells-circled:before {
	content: "\F14A";
}
.icon-seashells:before {
	content: "\F14B";
}
.icon-settings-circled:before {
	content: "\F14C";
}
.icon-settings:before {
	content: "\F14D";
}
.icon-share-circled:before {
	content: "\F14E";
}
.icon-share:before {
	content: "\F14F";
}
.icon-snoo_logo_20:before {
	content: "\F150";
}
.icon-snoo-circled:before {
	content: "\F151";
}
.icon-snoo:before {
	content: "\F152";
}
.icon-snoosilhouette:before {
	content: "\F153";
}
.icon-spaceship:before {
	content: "\F154";
}
.icon-sticky:before {
	content: "\F155";
}
.icon-text-circled:before {
	content: "\F156";
}
.icon-text:before {
	content: "\F157";
}
.icon-twirly-circled:before {
	content: "\F158";
}
.icon-twirly:before {
	content: "\F159";
}
.icon-unsave-circled:before {
	content: "\F15A";
}
.icon-unsave:before {
	content: "\F15B";
}
.icon-upvote-circled:before {
	content: "\F15C";
}
.icon-upvote:before {
	content: "\F15D";
}
.icon-user-account:before {
	content: "\F15E";
}
.icon-x-circled:before {
	content: "\F15F";
}
.icon-x:before {
	content: "\F160";
}
.icon-gold,
.icon-gold:before {
  color: #FFD635;
}
.Post {
  padding: 8px;
  border-bottom: 1px solid #CCCCCA;
}
