{
  // I want to use babel-eslint for parsing!
  "parser": "babel-eslint",
  "env": {
    // I write for browser
    "browser": true,
    // in CommonJS
    "node": true
  },
  // To give you an idea how to override rule options:
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "quotes": [2, "single"],
    "indent": [2, 2],
    "brace-style": [2, "1tbs", { "allowSingleLine": false }],
    "strict": [2, "never"],
    "space-after-keywords": [2, "always"],
    "space-before-blocks": [2, "always"],
    "space-before-function-parentheses": [2, "never"],
    "space-in-brackets": [2, "never"],
    "space-in-parens": [2, "never"],
    "consistent-return": false,
    "no-underscore-dangle": false
  }
}