.comment {
  margin-top: @row-spacing-base;
}

.comment-offset-1 {
  border-left: dotted 1px #ccc;
}

.comment-title {
  font-size: @font-size-h6;
  margin: 0;
}

.comment-tools {
  margin: 0;
  color: @gray;
  font-size: @font-size-small;
}

.comment-offset-1 {
  margin-left: 2em;
}

.comment-content p:last-child {
  margin-bottom: 0;
}
