.listing {
  margin-bottom: @row-spacing-base;
  padding-bottom: @row-spacing-base / 2;
  border-bottom: solid 1px @gray-lighter;
  position: relative;
}

.listing-index {
  color: @gray-light;
  font-size: @font-size-h4;
}

.listing-title {
  h1 {
    font-size: @font-size-h5;
    display: inline-block;
    margin: 0;

    word-break: break-all;
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
}

.listing-thumbnail {
  width: 100%;
  margin-bottom: @row-spacing-base / 2;
}

.listing-submitted {
  color: @gray;
  font-size: @font-size-smallest;
}

.listing-comments {
  font-size: @font-size-smallest;
  color: @gray;
}

.label.listing-link-flair {
  font-weight: normal;
  display: inline-block;
  margin-bottom: @row-spacing-base / 2;
}

.listing-actions {
  position: relative;
}

.selftext {
  margin-top: @row-spacing-base;
  margin-bottom: @row-spacing-base;
}
