a.voted.text-upvote:hover,
a.voted.text-upvote:focus,
.text-upvote {
  color: @orangered;
}

a.voted.text-downvote:hover,
a.voted.text-downvote:focus,
.text-downvote {
  color: @periwinkle;
}

.label.label-default {
  background: @gray-lighter;
}

.text-subreddit {
  color: @gray-light;
}

.label a:hover {
  text-decoration: none;
}

.text-distinguished {
  color: @brand-danger;
}

.linkbar {
  display: inline-block;
  margin: 0;
  padding: 0 0 (@row-spacing-base / 2) 0;

  > li {
    padding: 0;
    display: inline-block;
    margin-right: .5em;
  }
}

.list-compact-horizontal {
  margin: 0;
  padding: 0;
  text-align: center;

  > li {
    display: inline-block;
    margin: 0;
    padding: 0 .125em;
  }
}

.text-muted a,
.text-muted a:hover {
  &:extend(.text-muted);
}
