a.voted.text-upvote:hover,
a.voted.text-upvote:focus,
.text-upvote {
  color: @orangered;
}

a.voted.text-downvote:hover,
a.voted.text-downvote:focus,
.text-downvote {
  color: @periwinkle;
}

.label.label-default {
  background: @gray-lighter;
}

.text-subreddit {
  color: @gray-light;
}

.label a:hover {
  text-decoration: none;
}

.text-distinguished {
  color: @brand-danger;
}

.linkbar {
  display: inline-block;
  margin: 0;
  padding: (@row-spacing-base / 2) 0;

  > li {
    display: inline-block;
    margin-right: .5em;
    padding-right: .5em;
    padding: 0;

    &:not(:first-child):before {
      content: '\b7\a0';
    }
  }
}

