@import (reference) '~app/less/variables';
@import (reference) '~app/less/themes/themeify';

.Subnav {
  .themeify({
    background-color: @theme-nav-bar-color;
  });

  display: flex;
  justify-content: space-between;
  line-height: 4 * @grid-size;
  padding: @grid-size 1.25 * @grid-size;
  max-width: @max-width;
  margin: 0 auto;
  height: 6 * @grid-size;
  position: relative;
}
