@font-face {
	font-family: "rfont";
	src: url("/fonts/rfont.eot?96f97c9b9e9f4b79bd4d61d134db7d04?#iefix") format("embedded-opentype"),
url("/fonts/rfont.woff?96f97c9b9e9f4b79bd4d61d134db7d04") format("woff"),
url("/fonts/rfont.ttf?96f97c9b9e9f4b79bd4d61d134db7d04") format("truetype"),
url("/fonts/rfont.svg?96f97c9b9e9f4b79bd4d61d134db7d04#rfont") format("svg");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: rfont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-bar-chart:before {
	content: "\f101";
}
.icon-cake:before {
	content: "\f102";
}
.icon-caron-circled:before {
	content: "\f103";
}
.icon-caron:before {
	content: "\f104";
}
.icon-check-circled:before {
	content: "\f105";
}
.icon-check:before {
	content: "\f106";
}
.icon-circle:before {
	content: "\f107";
}
.icon-circled-gold:before {
	content: "\f108";
}
.icon-clear:before {
	content: "\f109";
}
.icon-comment:before {
	content: "\f10a";
}
.icon-comments-circled:before {
	content: "\f10b";
}
.icon-comments:before {
	content: "\f10c";
}
.icon-compact:before {
	content: "\f10d";
}
.icon-controversial:before {
	content: "\f10e";
}
.icon-crown-circled:before {
	content: "\f10f";
}
.icon-crown:before {
	content: "\f110";
}
.icon-delete_remove:before {
	content: "\f111";
}
.icon-desktop:before {
	content: "\f112";
}
.icon-downvote-circled:before {
	content: "\f113";
}
.icon-downvote:before {
	content: "\f114";
}
.icon-eye:before {
	content: "\f115";
}
.icon-flag-circled:before {
	content: "\f116";
}
.icon-flag:before {
	content: "\f117";
}
.icon-follow:before {
	content: "\f118";
}
.icon-gallery_squares:before {
	content: "\f119";
}
.icon-gold-snoo:before {
	content: "\f11a";
}
.icon-gold:before {
	content: "\f11b";
}
.icon-header_banned:before {
	content: "\f11c";
}
.icon-header_gold:before {
	content: "\f11d";
}
.icon-header_locked:before {
	content: "\f11e";
}
.icon-header_private:before {
	content: "\f11f";
}
.icon-header_quarantine:before {
	content: "\f120";
}
.icon-header_user:before {
	content: "\f121";
}
.icon-header-18plus:before {
	content: "\f122";
}
.icon-hide:before {
	content: "\f123";
}
.icon-history:before {
	content: "\f124";
}
.icon-hot:before {
	content: "\f125";
}
.icon-info-circled:before {
	content: "\f126";
}
.icon-info:before {
	content: "\f127";
}
.icon-karma-circled:before {
	content: "\f128";
}
.icon-karma:before {
	content: "\f129";
}
.icon-law-circled:before {
	content: "\f12a";
}
.icon-law:before {
	content: "\f12b";
}
.icon-link-circled:before {
	content: "\f12c";
}
.icon-link:before {
	content: "\f12d";
}
.icon-linkout:before {
	content: "\f12e";
}
.icon-lock:before {
	content: "\f12f";
}
.icon-menu:before {
	content: "\f130";
}
.icon-message:before {
	content: "\f131";
}
.icon-mod:before {
	content: "\f132";
}
.icon-nav-arrowback:before {
	content: "\f133";
}
.icon-nav-arrowback2:before {
	content: "\f134";
}
.icon-nav-arrowdown:before {
	content: "\f135";
}
.icon-nav-arrowforward:before {
	content: "\f136";
}
.icon-nav-arrowup:before {
	content: "\f137";
}
.icon-nav-close:before {
	content: "\f138";
}
.icon-new:before {
	content: "\f139";
}
.icon-nsfw:before {
	content: "\f13a";
}
.icon-op:before {
	content: "\f13b";
}
.icon-play_triangle:before {
	content: "\f13c";
}
.icon-play-circled:before {
	content: "\f13d";
}
.icon-play:before {
	content: "\f13e";
}
.icon-post_edit:before {
	content: "\f13f";
}
.icon-post-circled:before {
	content: "\f140";
}
.icon-post-image:before {
	content: "\f141";
}
.icon-post-link:before {
	content: "\f142";
}
.icon-post-text:before {
	content: "\f143";
}
.icon-post:before {
	content: "\f144";
}
.icon-posts:before {
	content: "\f145";
}
.icon-r-circled:before {
	content: "\f146";
}
.icon-r:before {
	content: "\f147";
}
.icon-reply-circled:before {
	content: "\f148";
}
.icon-reply:before {
	content: "\f149";
}
.icon-reply2:before {
	content: "\f14a";
}
.icon-rules:before {
	content: "\f14b";
}
.icon-save-circled:before {
	content: "\f14c";
}
.icon-save:before {
	content: "\f14d";
}
.icon-search-circled:before {
	content: "\f14e";
}
.icon-search:before {
	content: "\f14f";
}
.icon-seashells-circled:before {
	content: "\f150";
}
.icon-seashells:before {
	content: "\f151";
}
.icon-settings-circled:before {
	content: "\f152";
}
.icon-settings:before {
	content: "\f153";
}
.icon-share-circled:before {
	content: "\f154";
}
.icon-share:before {
	content: "\f155";
}
.icon-snoo_logo_20:before {
	content: "\f156";
}
.icon-snoo-circled:before {
	content: "\f157";
}
.icon-snoo:before {
	content: "\f158";
}
.icon-snoosilhouette:before {
	content: "\f159";
}
.icon-spaceship:before {
	content: "\f15a";
}
.icon-sticky:before {
	content: "\f15b";
}
.icon-text-circled:before {
	content: "\f15c";
}
.icon-text:before {
	content: "\f15d";
}
.icon-twirly-circled:before {
	content: "\f15e";
}
.icon-twirly:before {
	content: "\f15f";
}
.icon-unsave-circled:before {
	content: "\f160";
}
.icon-unsave:before {
	content: "\f161";
}
.icon-upvote-circled:before {
	content: "\f162";
}
.icon-upvote:before {
	content: "\f163";
}
.icon-user-account:before {
	content: "\f164";
}
.icon-x-circled:before {
	content: "\f165";
}
.icon-x:before {
	content: "\f166";
}
