@import "../../lib/snooboots/less/variables.less";
@import "../../lib/snooboots/less/snooboots/theme-variables.less";

@font-family-sans-serif:  helvetica, arial, sans-serif;
@font-size-base: 13px;

@red: #ff0011;
@dark-red: #BE1337;
@green: #228822;
@black: #222222;
@blue: #126d92;
@periwinkle: #9494FF;
@orangered: #FF4500;
@brand-primary: @blue;
@brand-primary-bg-lightest: #f6f9fa;
@brand-info: #f0f0f0;

@mod-text: @green;
@admin-text: @red;
@special-text: @dark-red;

@body-bg: @brand-primary-bg-lightest;

@row-spacing-base: 9px;
@grid-gutter-width: 10px;

@white: #fff;
@gray: #505453;
@green: #2ECC40;

@light-gray: #dedede;
@gray: #919192;
@text-muted: @gray;
@gray-border: 1px solid @light-gray;
@max-width: 1000px;
@top-nav-height: 45px;