@import "../../lib/snooboots/less/variables.less";
@import "../../lib/snooboots/less/snooboots/theme-variables.less";

@font-family-sans-serif:  helvetica, arial, sans-serif;
@font-size-base: 13px;

@black: #222222;
@blue: #126d92;
@periwinkle: #9494FF;
@orangered: #FF4500;
@brand-primary: @blue;
@brand-primary-bg-lightest: #EBF3FC;

@body-bg: @brand-primary-bg-lightest;

@row-spacing-base: @font-size-base;
@grid-gutter-width: 10px;

@white: #fff;
@gray: #505453;

@light-gray: #ccc;
@gray-border: 1px solid #e7e7e7;
@max-width: 1000px;
