@import (reference) '~app/less/variables';
@import (reference) '~app/less/themes/themeify';

@user-profile-header-follow-button-size: 19px;

.UserProfileHeader {
  &__banner {
    padding: 2 * @grid-size @grid-size;
    text-align: center;
  }

  &__banner-user-name {
    display: inline-block;
    padding-left: @grid-size;
    padding-right: @grid-size;
    font-weight: lighter;
    vertical-align: middle;
    margin: 0; // have to override the text reset here. Those are everywhere by default, probably mostly for ugc, maybe we should just wrap those in class
  }

  &__tabs {
    padding: @grid-size;
  }

  &__tab {
    width: 33%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;

    &, &:visited, &:hover {
      text-decoration: none;
    }

    & ~ & {
      .themeify({
        border-left: @theme-border;
      });
    }
  }

  &__tab-icon {
    // this is just a little bit smaller than icon-large
    font-size: 20px;
    line-height: 20px;
    margin-bottom: @half-grid-size;

    &.selected {
      color: @mint;
    }
  }

  &__tab-text {
    font-size: @font-size-small;
    font-weight: bold;

    .themeify({
      color: @theme-meta-text-color;
    });

    &.selected {
      color: @dark-teal;
    }
  }

  &__text-row-blue {
    color: @blue;
  }

  &__no-outline {
    outline: none;
  }

  &__subscribe-button {
    // size prevents cropping in safari
    width: @user-profile-header-follow-button-size;
    height: @user-profile-header-follow-button-size;
    line-height: 0;
    vertical-align: middle;

    .icon {
      font-size: @user-profile-header-follow-button-size;
      line-height: 0;
      position: relative;
      top: -3px;
    }
  }

  &__verified {
    display: inline-block;
    vertical-align: middle;
    width: 0;
  }

  .CommunityHeader-subscribe-form {
    display: block;
  }
}
