.CommentTools {
  &__reply,
  &__more,
  &__divider,
  &__score,
  &__upvote,
  &__downvote,
  &__hit-area {
    display: inline-block;
    vertical-align: middle;

    .themeify({
      color: @theme-nav-icon-color;
    });
  }

  &__left {
    float: left;
  }

  &__right {
    float: right;
  }

  &__more,
  &__divider,
  &__score,
  &__upvote {
    margin-right: @grid-size;
  }

  &__reply,
  &__more,
  &__upvote,
  &__downvote {
    text-align: center;

    &:before {
      width: 3 * @grid-size;
    }
  }

  &__upvote,
  &__downvote {
    &:before {
      font-size: 22px;
      line-height: 24px;
    }
  }

  &__reply {
    margin-right: 2 * @grid-size;

    &:before {
      line-height: @min-hit-area;
    }
  }

  &__hit-area {
    min-width: @min-hit-area;
    min-height: @min-hit-area;
    line-height: @min-hit-area;
  }

  &__score {
    width: 4 * @grid-size;
    text-align: right;

    &.upvoted {
      color: @orangered;
    }

    &.downvoted {
      color: @periwinkle;
    }
  }

  &__divider {
    .themeify({
      border-right: @theme-border;
    });

    height: 20px;
  }

  &__upvote {
    &.m-animated {
      .upvoteBounceAnimation;
    }
  }

  &__downvote {
    &.m-animated {
      .downvoteBounceAnimation;
    }
  }
}
