@import (reference) '~app/less/variables';
@import (reference) '~app/less/themes/themeify';

.DropdownWrapper {
  position: fixed;
  z-index: @z-index-dropdown;
}

.Dropdown {
  width: 600px;

  .themeify({
    border: @theme-border;
  });

  &__arrow {
    .themeify({
      border-top-color: @theme-body-color !important; // tool tip uses inline-styles
    });
  }
}

.DropdownModal {
  .themeify({
    border: @theme-border;
  });

  @max-width: 600px;
  @buffer: 200px;
  left: 2.5%;
  margin: auto;
  overflow: scroll;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 95%;

  // if the viewport is larger than the modal,
  @media(min-width: @max-width) {
    top: @buffer;
    bottom: auto;
    left: 50%;
    margin-left: -(@max-width / 2);
    max-width: @max-width;
  }

  .DropdownClose {
    float: right;

    .icon-x {
      font-size: @icon-size-medium-large;
    }
  }
}

.DropdownRow,
.DropdownLinkRow {
  @row-height: 50px;
  display: block;

  .themeify({
    background-color: @theme-body-color;
  });

  &__icon,
  &__text {
    display: inline-block;
    vertical-align: middle;
    height: @row-height;
    line-height: @row-height;
  }

  &__icon {
    width: 50px;
    text-align: center;

    &.m-selected {
      color: @blue;
    }

    &.icon-check-circled.m-selected {
      color: @lime;
    }

    &.icon-delete_remove.m-selected {
      color: @ban-red;
    }

    &.icon-spam.m-selected {
      color: @nsfw-salmon;
    }

    &.icon-distinguish.m-selected {
      color: @green;
    }

    &.icon-lock.m-selected {
      color: @warning-yellow;
    }

    &.icon-nsfw.m-selected {
      color: @nsfw-salmon;
    }

    &.icon-spoiler.m-selected {
      color: @dark-grey;
    }

    &.icon-link {
      font-size: 36px;
    }

    &.icon-check-circled,
    &.icon-delete_remove,
    &.icon-flag,
    &.icon-hide,
    &.icon-history,
    &.icon-new,
    &.icon-posts,
    &.icon-save,
    &.icon-snoosilhouette,
    &.icon-distinguish,
    &.icon-user-account {
      font-size: 22px;
    }

    &.icon-bar-chart,
    &.icon-hot,
    &.icon-op {
      font-size: 21px;
    }

    &.icon-karma {
      font-size: 28px;
    }

    &.icon-circle {
      font-size: 20px;
      color: @pale-grey;
    }

    &.icon-save {
      &.m-selected {
        color: @green;
      }
    }
  }

  &__text {
    font-size: 16px;
  }
}

.DropdownLinkRow {
  &, &:visited, &:active {
    text-decoration: none;

    .DropdownLinkRow__icon {
      .themeify({
        color: @theme-meta-text-color;
      });
    }

    .DropdownLinkRow__text {
      .themeify({
        color: @theme-body-text-color;
      });
    }
  }

}
