.label.listing-link-flair {
  font-weight: normal;
  display: inline-block;
  margin-right: 1em;
}

.container {
  margin: 0 auto !important;
  max-width: @max-width !important;
  width: auto !important;
}

.listing-container.compact {
  padding: 0;
  border-top: @gray-border;
}

.listing-main {
  background-color: @white;
}

.listing {
  background-color: @white;
  margin-bottom: @row-spacing-base;

  &.listing-sponsored .panel {
    background: rgb(240,240,240);

    .linkbar-single-line {
      height: 1.5em;
      overflow: hidden;
      width: 100%;
      position: relative;

      &:after {
       content: '';
       position: absolute;
       height: 2em;
       z-index: 1;
       bottom: 0;
       right: 0;
       width: 3em;

       #gradient > .horizontal(@start-color: rgba(240,240,240,0); @end-color: rgba(240,240,240,1););
      }
    }
  }

  a:hover {
    text-decoration: none;
  }

  .panel {
    .shadow;
    margin-bottom: 0;
    border: @gray-border;
  }

  .panel-title {
    font-weight: normal;
    font-size: @font-size-large;
    color: @black;

    &.text-admin {
      color: @admin-text;
    }


    &.text-moderator {
      color: @mod-text;
    }
  }

  .panel-heading {
    position: relative;

    &.preview {
      .bottomShadow;
      border-bottom: @gray-border;
    }
  }

  .img-preview {
    width: 100%;
  }

  .listing-video iframe, .listing-video object {
    width: 100%;
  }

  .img-responsive, .listing-selftext {
    margin: 0;
    .border-bottom-radius((@panel-border-radius));
  }

  .img-nsfw {
    background-color: @gray-lighter;
  }

  .listing-frame {
    position: relative;
    height: calc(~"100% - 20em");

    /* fix ios8, ios5 iframe scrolling */
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    -webkit-transform: translateZ(0px);
    -webkit-transform: translate3d(0,0,0);
    -webkit-perspective: 1000;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: solid 1px @gray-lighter;
    }
  }

  .linkbar-single-line {
    height: 22px;

    .icon-font({
      display: inline-block;
      line-height: 16px;
    });
  }
}

.external-image {
  display: block;
}

.external-image-meta {
  .text-overflow();
  margin: 5px 0;

  span,
  a {
    color: darken(@light-gray, 20%);
  }

  a:hover,
  a:active {
    color: @blue;
  }
}

.well.listing-selftext {
  background-color: @body-bg-alt;
  border: none;
  color: inherit;
  padding: 1em;
}

.well.listing-selftext-collapsed {
  color: lighten(@gray, 20%);
}

.listing-selftext-collapsed {
  height: 8em;
  overflow: hidden;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    height: 2em;
    width: 3em;
    z-index: 1;
    bottom: 0;
    right: 0;
    #gradient > .vertical(@start-color: rgba(250,250,250,0); @end-color: rgba(250,250,250,1));
  }
}

.pageNav {
  margin-bottom: 1em;
}

.label.label-danger {
  color: #fff;
}

.vote-form {
  margin: 0;
}

.vote {
  font-size: 150%;
  position: relative;
}

.listing-author-flair {
  margin-left: .25em;
}

.ratio16x9 {
  position: relative;
  width: 100%;
  display: block;
  background-color: #000;
  overflow: auto;

  &:before {
    content: '';
    display: block;
    padding-top: calc(9/16 * 100%);
  }
}

.ratio16x9-child, .ratio16x9 > video, .ratio16x9 > iframe {
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;

  .PlayIcon {
    opacity: 0.5;
    .tween;
    height: 30%;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    .translate(-50%, -50%);
  }

  &:hover .PlayIcon {
    opacity: 1;
  }
}

.listing.compact {
  margin-bottom: 0;

  @media (min-width: @max-width) {
    border-left: @gray-border;
    border-right: @gray-border;
  }

  .panel {
    box-shadow: none;
    border: none;
    position: relative;
  }

    @compact-width: 80px;

    .listing-preview-a {
      position: absolute;
      display: block;
      top: 0;
      height: 100%;
      width: @compact-width;
    }

    .panel-heading {
      border: none;
      border-bottom: @gray-border;
      margin-left: @compact-width;

      &.preview {
        box-shadow: none;
      }
    }
}

.listing-compact-img {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  &.placeholder {
    background-size: 100% auto;
    background-image: url(/img/placeholder.svg);
  }
}

.listing-nsfw {
  position: relative;
  display: block;
  background-color: @light-gray;

  &.compact {
    .icon-nsfw-circled {
      font-size: 60px;
      line-height: 60px;
      margin: -30px 0 0 -30px;
    }

    .NSFWIcon {
      width: 60px;
      height: 60px;
      margin: -30px 0 0 -30px;
    }
  }

  &:not(.compact) {
    height: 140px;

    .icon-nsfw-circled {
      font-size: 100px;
      line-height: 100px;
      margin: -50px 0 0 -50px;
    }

    .NSFWIcon {
      width: 100px;
      height: 100px;
      margin: -50px 0 0 -50px;
    }
  }

  .icon-nsfw-circled, .NSFWIcon {
    position: absolute;
    left: 50%;
    top: 50%;
    color: @white;
  }

  &.compact

  &:not(.compact) .NSFWIcon {
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
  }

  .SVG-fill {
    fill: @white;
  }

  .SVG-stroke {
    stroke: @white;
  }

  .SVG-fill-bg {
    fill: @light-gray;
  }

  .SVG-stroke-bg {
    stroke: @light-gray;
  }
}
