.LoginPage {
  margin: 0 auto;
  float: none !important;
}

.login-wrapper {
  background-color: @off-white;

  .row {
    margin-right: -5px;
  }
}

.login-register-link {
  text-align: center;
  padding-top: 5px;
}

.login-form {

}

.login-form .btn-post {
  margin-top: 30px;
}

.login__forgot-link {
  margin-top: 5px;
}

.login__toggle-btn {
  width: 40px;
  height: 100%;
  position: absolute;
  right: 0;
  font-size: 1.8em;

  [class^="icon-"] {
    font-size: 24px;
  }

  &.blue {
    [class^="icon-"] {
      color: @blue;
    }
  }
}

.login__clear-btn {
  .login__toggle-btn;

  [class^="icon-"] {
    color: @red;
  }
}
