.SnooIconHeader {
  &__wrapper {
    position: relative;
    border-bottom: @gray-border;
    background-color: @white;
  }

  &__icon-box {
    width: 150px;
    margin: 0 auto;
    padding-top: 45px;
    text-align: center;
  }

  &__button {
    position: absolute;
    left: 10px;
    font-size: 2.3em;
    color: @grey-text;
  }

  &__title {
    margin-top: 25px;
  }
}
