.SVG-fill {
  fill: @light-gray;
}

.SVG-fill-bg {
  fill: @white;
}

.SVG-stroke {
  stroke: @light-gray;
}

.SVG-stroke-bg {
  stroke: @white;
}

.SVG-icon {
  height: 16px;
  width: 16px;
  margin-bottom: 2px;
}

.DownvoteIcon.altered .SVG-fill {
  fill: @periwinkle;
}

.UpvoteIcon.altered .SVG-fill {
  fill: @orangered;
}
