@height:45px;

.TopNav {

  height: @height;
  background-color: @blue;
  position: fixed;
  width: 100%;
  z-index: 10;
  -webkit-user-select: none;
  top: 0;

    .floaty, .SnooButton, .PostButton, .SearchButton {
      display: block;
      float: left;
      height: 100%;
    }

    .hamburger {
      background-color: transparent;
      padding: 0 16px 0px 0;

      div, div:before, div:after {
        width: 10px;
        height: 2px;
        background-color: @white;
        position: absolute;
        top: 50%;
        left: 0;
      }

      div:before, div:after {
        content: "";
        .transition(0.2s);
      }

      div:before {
        margin-top: -6px;
      }

      div:after {
        margin-top: 4px;
      }

      &:hover {
          div:before {
          .translate(0,-3px);
        }

        div:after {
          .translate(0,3px);
        }
      }
    }

    .SnooButton {
      padding: 0 6px 0 0;

      svg {
        .translate(0,3px);
      }
    }

    .text {
      font-size: @font-size-base + 7px;
      color: @white;
      margin: 0;
      line-height: 53px;

      span {
        position: absolute;
      }

      a {
        color: inherit;
        text-decoration: none;
      }
    }



    .PostButton {
      padding: 0 10px 0 0;

      svg {
        .translate(0,-5px);
      }
    }

    .SearchButton {
      padding: 0 15px 0 0;
    }
}

main {
  margin-top: @height;
}